mat-tab-group {
  height: 100%;
}

.wrapper {
  height: calc(100vh - 64px);
}

.sidebar {
  position: relative;
  height: 100%;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0,0,0,.2);

  mat-panel-title {
    flex: 1 1 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-content {
    padding: 16px;
  }
}

.add-dialogue-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
  