<mat-toolbar color="primary">
  <span>RPG Dialogue Editor</span>
</mat-toolbar>

<mat-tab-group backgroundColor="primary">
  <!-- <mat-tab label="Dialogue">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" [formGroup]="form">
          <mat-card>
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>

            <input type="hidden" formControlName="key">

            <mat-form-field appearance="outline">
              <mat-label>Starting point</mat-label>
              <mat-select formControlName="start">
                <mat-option *ngFor="let item of getDialogue().controls; let i = index;" [value]="getDialogUID(item)">
                  {{ getNPC(item) }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card>

          <ng-container formArrayName="dialogue" *ngFor="let item of getDialogue().controls; let i = index;">
            <app-dialogue-item [formGroupName]="i" [dialogue]="getDialogue().controls" (delete)="deleteDialogue(i)">
            </app-dialogue-item>
          </ng-container>

          <button mat-raised-button color="primary" (click)="addDialogue()">Add a dialogue item</button>
        </div>
      </div>
    </div>
  </mat-tab> -->

  <mat-tab label="Dialogue">
    <ng-template matTabContent>
      <div fxLayout class="wrapper">
        <app-node-editor fxFlex="1 1 auto" [dialogue]="getDialogue()" [start]="form.controls['start'].value"
          [editorData]="form.controls['editor'].value" (setResponseFollowUp)="onSetResponseFollowUp($event)"
          (setNodePosition)="onSetNodePosition($event)" (setViewPosition)="onSetViewPosition($event)"
          (setActiveDialogue)="onSetActiveDialogue($event)">
        </app-node-editor>

        <div fxFlex="1 1 33%" [fxFlex.lt-md]="'1 1 100%'" class="sidebar" [formGroup]="form">
          <mat-card>
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>

            <input type="hidden" formControlName="key">

            <mat-form-field appearance="outline">
              <mat-label>Starting point</mat-label>
              <mat-select formControlName="start">
                <mat-option *ngFor="let item of getDialogue().controls; let i = index;" [value]="getDialogUID(item)">
                  {{ getNPC(item) }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card>

          <mat-accordion>
            <mat-expansion-panel #dialogueItem formArrayName="dialogue"
              *ngFor="let item of getDialogue().controls; let i = index;" (opened)="activeDialogue = getDialogUID(item)" [expanded]="activeDialogue === getDialogUID(item)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ getNPC(item) }}
                </mat-panel-title>
                <mat-panel-description>
                  <ng-container [ngSwitch]="getType(item)">
                    <span *ngSwitchCase="'open'">Open answer</span>
                    <span *ngSwitchCase="'single'">Single answer</span>
                    <span *ngSwitchCase="'multi'">Multi answer</span>
                    <span *ngSwitchDefault></span>
                  </ng-container>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-dialogue-item [formGroupName]="i" [dialogue]="getDialogue().controls" (delete)="deleteDialogue(i)">
                </app-dialogue-item>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

      <button class="add-dialogue-button" mat-fab color="primary" aria-label="Example icon button with a delete icon"
        (click)="addDialogue()">
        <mat-icon>add</mat-icon>
      </button>
    </ng-template>
  </mat-tab>

  <mat-tab label="Import/Export">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <h3>Import</h3>

          <mat-form-field appearance="outline">
            <mat-label>JSON</mat-label>
            <textarea matInput placeholder="Paste JSON here and click import button" rows="12"
              [formControl]="import"></textarea>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="fromJSON(import.value)">Import</button>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <h3>Export</h3>

          <mat-form-field appearance="outline">
            <mat-label>JSON</mat-label>
            <textarea matInput readonly placeholder="Build or import first." [value]="toJSON()" rows="12"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="preview">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <mat-card *ngIf="preview !== ''">
            {{ getDialogueItemById(preview).npc }}
            <br><br>

            <mat-chip-list *ngIf="getDialogueItemById(preview).type == 'single'">
              <mat-chip *ngFor="let response of getDialogueItemById(preview).responses"
                (click)="setPreview(response.followUp)">
                {{ response.response }}
              </mat-chip>
            </mat-chip-list>

            <div *ngIf="getDialogueItemById(preview).type == 'open'">
              <mat-form-field appearance="outline">
                <mat-label>Answer</mat-label>
                <input matInput [formControl]="previewInput">
              </mat-form-field>

              <button mat-raised-button color="primary"
                (click)="setPreview(getDialogueItemById(preview).followUp)">Submit</button>
            </div>

            <div *ngIf="getDialogueItemById(preview).type == 'multi'">
              <mat-checkbox *ngFor="let response of getDialogueItemById(preview).responses">
                {{ response.response }}&nbsp;
              </mat-checkbox>
              <br><br>

              <button mat-raised-button color="primary"
                (click)="setPreview(getDialogueItemById(preview).followUp)">Submit</button>
            </div>
          </mat-card>

          <button mat-raised-button (click)="setPreview(form.get('start')?.value)">Reset preview</button>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>