:host {
  cursor: grab;
}

#canvas-wrapper {
    width: 100%;
    height: calc(100vh - 112px);
    overflow: hidden;
    background: rgba(0,0,0,.05);
  
    > div {
      display: flex;
    }
  
    svg {
      position: absolute;
      top: 0;
      left: 0;
      overflow: visible!important;
    }
  
    app-dialogue-node {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
    